.container{

    border: 2px solid blue;
    padding: 40px;
    width: 400px;
    margin-left:400px ;
    margin-top:100px ;
    box-shadow:  5px 10px gray;
    -webkit-box-shadow:   5px 6px gray;
    background-color: yellow;
    color: darkblue;
    border-radius: 10px;
    white-space: nowrap;
}
fieldset{
    border: 1px solid gray;
    margin-bottom: 30px;
    margin-top: 30px;
    height: 40px;
}
.clock-time{
font-family: sans-serif;
font-size: 18px;
}
.timerDisplay{
    margin-left: 120px;
    margin-top: -18px;
}
.stop-watch2{
    margin-top: -18px;
    margin-left: 115px;
    font-family: sans-serif;
    font-size: 18px;
}